body{

}

.header{
background-image: url(head.png);
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
height:950px;

}

.container 
{
	max-width: 1130px;
	margin:0 auto;
	padding: 0px 15px;
	
}


.top {

	display: flex;
 	justify-content: center;
	height: 52px;
	


}

.top1{
display: flex;
}

.top2{
display: flex;
}




ul.top1 li, ul.top2 li {
	margin: 43px 0 0 25px;
	height: 21px;
	font-family: Gilroy;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	color: #FFFFFF;


}

ul.top2 li img {
	margin-top:2px;
}
.logo {

	margin: 26px 102px 0 126px;
	position: relative;

}


.cristall1 {
position: absolute;
top:17.91px;
left:16.18px;
}
.cristall2 {
position: absolute;
top:17.91px;
left:180px;
}

.container h2{
text-align: center;
margin-top: 523px;
color: white;
font-size: 36px;
font-style: normal;
font-weight: 700;
}

.cat{  
margin-top: 50px; /*надо попробовать через margin  + задать width*/
margin-left: 420px;
}

.catalog{
width: 261px;
height: 51px;
border: 1px solid #FFFFFF;
background: #333333;
box-sizing: border-box;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}

.catalog:hover{
background: white;
color: black;
}

hr {
	margin-top: 80px;
}

.footheader{
	display:flex;
	width: 1110px;
	margin: 0 auto;
	margin-top:30px;
}
.footheader img {
	padding:0 15px ;
}
.footheader img:nth-child(1){
	padding-left: 0px;
}
.footheader img:nth-child(6){
	padding-right: 0px;
}
.footheader img:nth-child(n+2) {
	border-left:1px solid white;
}


.section2 {
	background: #E5E5E5;
	height: 1071px;
	padding-top: 100px ;

}


.txt1 {
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
text-align: center;
color: #333333;
}

.txt2 {
margin-top:20px;
font-family: Noto Serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
text-align: center;
color: #333333;
}

 .menunav {
	display: flex;
}


.btn1 {
	margin-top:50px;
	margin-left: 17.5px;
}

.btn1 {

	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 21px;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: uppercase;
	background: #F9F9F9;
	width: 165px;
	height: 55px;
	border: 1px solid #D6D6D6;
	box-sizing: border-box;
	transition: all 0.3s ease-in-out;
	color: black;

}
.btn1:hover {
background: #333333;
color: white;
}



.menu2 {
	margin-top:60px; 
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap:30px;
	
}

.menu2 p {

height: 28px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 28px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #FFFFFF;
}

.podveski p {
margin-left:-23px;
}
 
.colca, .sergi, .podveski, .zaponki, .braslet, .chasi {
position: relative;
}
.colca p, .sergi p, .podveski p, .zaponki p, .braslet p, .chasi p {
position: absolute;
top:222px;
left:120px;
}

.colca , .sergi , .podveski , .zaponki , .braslet , .chasi  {
transition:  1s ease ;





}

.colca:hover , .sergi:hover , .podveski:hover , .zaponki:hover , .braslet:hover , .chasi:hover {
transform: scale(1.1);

}









.section3 {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:541px;
	text-align: center;
	padding-top: 100px;
}

.txt3{

height: 29px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
color: #FFFFFF;

}
.txt4 {
margin: 15px 0 45px 0 ;
height: 41px;

font-family: Noto Serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
color: #FFFFFF;
}



.txt5 {
margin-top: 45px;
width: 730px;
height: 100px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
}


.btn2 {
margin-top: 75px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
color: #333333;
padding:  15px 35px;
border: 1px solid #D6D6D6;
box-sizing: border-box;
transition: all 0.2s ease-in-out;
}



.btn2:hover {
background: #333333;
color: white;
border:none;
}

.section5 {
	background-image: url(bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height:478px;
	text-align: center;
	padding-top: 100px;
}
.predl {
height: 29px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 21px;
line-height: 29px;
text-align: center;
color: #FFFFFF;

}
.ekz{
margin-top:15px;
height: 41px;
font-family: Noto Serif;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 41px;
text-align: center;
color: #FFFFFF;
}
.otziv {
	/*width: 1100px;
	margin: 0 auto;*/
	margin-top: 60px;
	display: flex;
	justify-content: center;
}
.otziv li{
text-align: left;
width: 228px;
height: 25px;
font-family: Gilroy;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;
color: #FFFFFF;
background: url(spisok1.png) no-repeat 0px 4px, url(spisok2.png) no-repeat 2.5px 9px;
 padding-left: 20px;

}
.otziv li:nth-child(n+2){
	margin-top: 15px;
}
.pochta {
margin-left: 80px;
width: 448px;
height: 113px;
border: 1px solid #FFFFFF;
box-sizing: border-box;	
}
.pochta1 {
	margin: 14px 15px;
	background: #FFFFFF
}
#email {
	width: 200px;
	height: 45px;
	margin: 20px 15px 20px 22px;
	border:1px solid rgba(51, 51, 51, 0.5);
	font-family: Gilroy;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	padding:15px 10px 14px 20px; 
	letter-spacing: 0.1em;
	

}
#email::placeholder {
	color: rgba(51, 51, 51, 0.5);
	

}
.btn4 {

width: 159px;
height: 45px;
font-family: Gilroy;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.1em;
text-transform: uppercase;
transition: all 0.3s ease-in-out;
background: #333333;
color: white;
border: 1px solid #333333;
box-sizing: border-box;

}
.btn4:hover {
background: #ffffff;
color: black;
}




